html, body {
    height: 100%;
    margin: 0;
    padding: 2px;
}

#container {
    height: calc(100% - 46px);
}

#objects, #views {
    layout: flex;
    flex-direction: column;
       height: 100%;
}

#cmdline {
    padding: 4px;
    height: 40px;
}

#topic {
    width: 100%;
}

#main {
    padding: 4px;
    height: calc(100% - 76px);
}

#json {
    height: 100%;
    width: 100%;
    resize: none;
    font-family: monospace;
}

#jsonlint {
    display: inline-block;
    width: 20px;
}

#rev {
    display: inline-block;
    width: 60px;
}

#footer {
    padding: 4px;
    height: 36px;
    width: 100%;
}

#confirm {
    display: inline-block;
    height: 34px;
    line-height: 18px;
    padding: 6px;
    margin: 0;
    float: right;
}

.modal-title {
    display: inline-block;
}

.topic {
    font-weight: bold;
}